name: Publish package to pub.dev
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - uses: dart-lang/setup-dart@v1

      - run: flutter --version

      - run: flutter pub get

      - run: dart format --set-exit-if-changed lib

      - run: flutter analyze lib

      - name: Run tests
        run: flutter test --test-randomize-ordering-seed=$RANDOM

      - name: Publish package
        run: flutter pub publish --force
